* {
    padding: 0%;
    background-color: rgb(255, 255, 255);
    /* color: rgb(237, 240, 58); */
    text-align: -webkit-center;
    /* font-family: 'Fascinate Inline', cursive; */
}

i {
    font-size: 30px;
    padding: 3px;
}

.size-icon {
    width: 35px;
    padding: 3px;
    vertical-align: bottom;

}

.yellow {
    color: gold;
}

.green {
    color: rgb(18, 180, 80);
}
.orange {
    color: darkorange;
}

.blue {
    color: dodgerblue;
}

.red{
    color: #fb3e44;
}


.myButton {
    border-radius: 20px;
    border: 3% groove #ff8000;
    cursor: pointer;
    -webkit-transition-duration: 0.10s;
    transition-duration: 0.4s;

    font-size: 20px;
    width: 150px;
    height: 30px;

}

.myButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: black;
    border: solid;
    border-width: 2px;
    transform: translateY(4px);
}

.myButton:active {
    box-shadow: 0 7px #666;
    transform: translateY(8px);
}

.button-nav {

    display: inline-block;

}