@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Rajdhani&display=swap");

* {
  padding: 0%;
}

.font-nav {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
}

.font-cont {
  font-family: "Rajdhani", sans-serif;
}

.nav-color {
  background-color: black;
}

.first-section {
  background-color: black;
  padding-top: 2%;
  padding-bottom: 10%;
}

.second-section {
  padding-top: 13%;
  padding-bottom: 6%;
}

.img-card {
  width: 159px;
}

.text-card-proyect {
  font-family: "Rajdhani", sans-serif;
}

.background-black {
  padding: 0.75rem 1.25rem;
  color: azure;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgb(40, 42, 44);
}

.proyect-section {
  padding-right: 9%;
  padding-left: 9%;
  height: auto;
  margin-top: 0%;
  padding-top: 80px;
}

.home-section {
  height: auto;
  margin-top: 0%;
  padding-top: 3%;
}

.aboutme-section {
  padding-right: 9%;
  padding-left: 9%;
  height: auto;
  margin-top: 0%;
  padding-top: 80px;
}

.contact-section {
  padding-right: 9%;
  padding-left: 9%;
  height: auto;
  margin-top: 0%;
  padding-top: 70px;
  background-color: black;
  color: azure;
}

.title-section {
  margin-bottom: 3%;

  border-bottom: solid;
  border-color: darkgrey;
  padding-bottom: 1%;
}

.icon-cont {
  border-top: solid;
  border-bottom: solid;
  border-color: darkgrey;
}
/* .porfile-pic{
  background-image: url(./assets/img/circle-svg-halftone-2-transparent.png);
  
 
  background-repeat: no-repeat;
 
  
}

.pic{
  width: 237px;
  border: solid;
  border-color: black;
  border-radius: 3%;
  border-width: 9px;
} */
